div.button,
div.content{
    padding-left: 10px;
    width: 50%;
}
div.button{
    height: 40px;
    line-height: 40px;
    background-color: #ebebeb;
    margin: 5px;
}

div.content{
    display: none;
}
div.button.active,
div.button:hover{
    background-color: #b4b4b4;
}
